:root {
    --ocean: #404BBF;
    --iris: #4D5AE5;
    --navy-blue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue-modal: #2E2F42;
    --grey: #2E2F42;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
}

/*---------------------global-----------------------*/
body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    color: var(--slate);
    background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 16px;
}

ul {
    list-style-type: none;
}

img {
    display: block;
}

.main-h {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    color: var(--navy-blue);
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

main .container {
    margin: 0 auto;
}

.ul-advantage-section {
    display: flex;
    gap: 24px;
}

.main-advantage-title {
    margin-bottom: 72px;
}