.main-advantage-section {
    padding: 120px 0;
}

.main-advantage-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    font-size: 36px;
}

.main-p-advantage {
    line-height: 1.5;
}

.li-advantage-section {
    width: calc((100% - 72px) / 4);
}