
:root {
    --ocean: #404BBF;
    --iris: #4D5AE5;
    --navy-blue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue-modal: #2E2F42;
    --grey: #2E2F42;
    --white:#FFFFFF;
    --dairy: #FCFCFC;
}

/*---------------------global-----------------------*/
body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    color: var(--slate);
    background-color: var(--white);
}

h1, h2, h3, h4, h5, h6, p,
ul, ol {
  margin: 0;
  padding: 0;
}

h1 {
    font-size: 56px;
    line-height: 60px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

ul {
    list-style-type: none;
    gap: 24px;
}

a {
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 16px;
}

button {
    cursor: pointer;
    font-weight: medium;
    letter-spacing: 0.04em;
    line-height: 24px;
}

img {
    display: block;
}

section {
    padding: 120px 0;
}

.container { 
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto; 
}

/*---------------------header-----------------------*/
.header {
    background-color: var(--white);
    border-bottom: 1px solid var(--cornflower);
}

header .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}

header .container>* {
    margin: 24px 0;
}

.header-logo-a {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--iris);
    background-color: var(--white);
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
}

.header-logo-word {
    color: var(--grey);
}

nav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.header-nav-ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

.header-nav-ul a {
    color: var(--navy-blue);
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.header-address {
    font-style: normal;
}

.header address a {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: var(--slate);
    letter-spacing: 0.02em
}
.header-address ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row;
    gap: 40px;
}

.nav-ref:focus,
.nav-ref:hover {
    color: var(--ocean);
}

/*---------------------main general----------------*/
main .container {
    margin: 120px auto;
}

main ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row;
    gap: 24px;
}

main h2 {
    margin-bottom: 72px;
}

/*---------------------main section 1---------------*/
.main-first-secion {
    background-color: var(--navy-blue);
    padding: 188px 0;
}

.main-title {
    color: var(--white);
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
}


.main-order-button {
    color: var(--white);
    font-weight: 500;
    background: var(--iris);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    line-height: 1.5;
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    margin: 48px auto 188px;
    min-width: 169px;
    height: 56px;
    border: none;
}

.main-order-button:hover, .main-order-button:focus {
    background: var(--ocean);
}

/*---------------------main advantage----------------*/
.main-advantage-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-h {
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.main-p-advantage {
    line-height: 1.5;
}

.ul-advantage-section {
    width: calc((100% - 72px) / 4);
}
/*---------------------main team---------------------*/
.main-team-section {
    background-color: var(--cloud);
}

.main-team-section li {
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
}

.main-team-title {
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
}

.main-p-team {
    line-height: 1.5;
    color: var(--slate);
}

.div-team-section {
    padding: 32px 0
}
/*---------------------main portfolio----------------*/
.main-portfolio-section ul {
    flex-wrap: wrap;
}

.main-portfolio-title {
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
}

.portfolio-card p {
    line-height: 1.5;
}

/*---------------------footer------------------------*/
footer .container{
    padding: 100px 0;
}

footer .container > *{
    max-width: 264px;
}

.footer {
    background-color: var(--navy-blue);
    padding: 100px 0ж
}

.footer a {
    background-color: var(--navy-blue);
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-word {
    color: var(--cloud);
}

.footer-slogan {
    line-height: 1.5;
    color: var(--cloud);
}